@{
    ViewData["Title"] = "Book Create-Update";
}

@model BookVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-12 text-center">
            <h2 class="text-white py-2">@(Model.Book.Id != 0 ? "Update" : "Create") Book</h2>
        </div>
    </div>
</div>
<div class="card-body p-4">
    <form method="post" class="row" enctype="multipart/form-data">
        <div class="border p-3 mb-4">
            @*  <div asp-validation-summary="All"></div>  *@ <!-- All yazdigimizda, tum hata mesajlari ustte alt alta sirali bicimde gosterir -->
            <input asp-for="Book.Id" hidden />
            <div class="form-floating py-2 col-12">
                <input asp-for="Book.Title" class="form-control border-0 shadow" />
                <label asp-for="Book.Title" type="text" class="ms-2"></label>
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <textarea asp-for="Book.Description" class="form-control border-0 shadow"></textarea>
                <label asp-for="Book.Description" class="ms-2"> </label>
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Book.ISBN" class="form-control border-0 shadow" />
                <label asp-for="Book.ISBN" class="ms-2"> </label>
                <span asp-validation-for="Book.ISBN" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Book.Author" class="form-control border-0 shadow" />
                <label asp-for="Book.Author" class="ms-2"> </label>
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Book.ListPrice" class="form-control border-0 shadow" />
                <label asp-for="Book.ListPrice" class="ms-2"> </label>
                <span asp-validation-for="Book.ListPrice" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Book.Price" class="form-control border-0 shadow" />
                <label asp-for="Book.Price" class="ms-2"> </label>
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Book.Price50" class="form-control border-0 shadow" />
                <label asp-for="Book.Price50" class="ms-2"> </label>
                <span asp-validation-for="Book.Price50" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Book.Price100" class="form-control border-0 shadow" />
                <label asp-for="Book.Price100" class="ms-2"> </label>
                <span asp-validation-for="Book.Price100" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                @*  <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select form-control border-0 shadow"> *@
                <select asp-for="@Model.Book.CategoryId" asp-items="@Model.CategoryList" class="form-select form-control border-0 shadow">
                    <option disabled selected>--Select Category--</option>
                </select>
                <label asp-for="Book.CategoryId" class="ms-2"> </label>
                <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input type="file" class="form-control border-0 shadow" />
                <label asp-for="Book.ImageUrl" class="ms-2"> </label>
            </div>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    @if (Model.Book.Id != 0)
                    {
                        <button type="submit" class="btn btn-dark form-control">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-dark form-control">Create</button>
                    }

                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Book" asp-action="Index" class="btn btn-outline-dark form-control">Back to List</a>
                </div>
            </div>


        </div>
    </form>
</div>


<!-- Asagidaki kod sayesinde validasyon islemi sayfa yenilenmese bile otomatik ve eszamanli olarak calisacaktir.  -->
@section Scripts {
    <!-- validation script dosyalarinin tutuldugu partial-->
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} 